In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\manjula\appdata\local\programs\python\python312\lib\site-packages (9.0.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import mysql.connector




mydb = mysql.connector.connect(host="localhost",user="root",password="")

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B2DBCF3740>

In [4]:
mycursor.execute('show databases')
for i in mycursor:
    print(i)

('guvi',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('redbus',)
('spark',)
('test',)

In [3]:
import pandas as pd
df = pd.read_csv('concatenated_file.csv').set_index('Unnamed: 0')

In [5]:
import numpy as np

# Define the positions (ratings) and their probabilities
positions = [1, 2, 3, 4, 5]
probabilities = [0.10, 0.20, 0.50, 0.10, 0.10]

# Generate random ratings for all rows in the DataFrame
ratings = np.random.choice(positions, size=df.shape[0], p=probabilities)

# Assign the generated ratings to the 'star_rating' column
df["star_rating"] = ratings

In [6]:
df

,bus_route_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seat_availability
Unnamed: 0,,,,,,,,
0,FRESHBUS,Electric A/C Seater (2+2),22:10,07h 30m,05:40,2,Starts from\nINR 600 500,35 Seats available
1,FRESHBUS,Electric A/C Seater (2+2),05:40,06h 45m,12:25,2,Starts from\nINR 449 349,NaN
2,FRESHBUS,Electric A/C Seater (2+2),10:25,07h 30m,17:55,1,Starts from\nINR 439 339,NaN
3,AdIntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:50,06h 10m,06:00,2,Starts from\nINR 559,37 Seats available
4,FRESHBUS,Electric A/C Seater (2+2),23:05,07h 10m,06:15,2,Starts from\nINR 448 348,35 Seats available
...,...,...,...,...,...,...,...,...
443,Royal Cruiser,Scania Multi-Axle AC Semi Sleeper (2+2),17:35,13h 00m,06:35,5,INR 1200 1110,5 Seats available
444,Annesha Travels,NON A/C Seater / Sleeper (2+2),18:00,13h 00m,07:00,3,Starts from\nINR 500,32 Seats available
445,Maa Durga Bus Service,NON A/C Seater / Sleeper (2+2),18:00,14h 00m,08:00,3,Starts from\nINR 600,7 Seats available
446,Lokenath (Maa Tara),NON A/C Seater / Sleeper (2+2),15:15,14h 30m,05:45,2,INR 600 540,5 Seats available
447,Aradhana Bus Service,NON A/C Seater / Sleeper (2+2),14:45,15h 45m,06:30,1,INR 700,28 Seats available

In [1]:
mycursor.execute('create database  redbus')

NameError: name 'mycursor' is not defined

In [8]:
mycursor.execute("create table redbus.databases (bus_route_name VARCHAR(25),bus_type VARCHAR(25),departing_time INT(10),duration INT(25),reaching_time INT(25),star_rating INT(10),price VARCHAR(25),seat_availability VARCHAR(25))")

In [10]:
df.isna().sum()

bus_route_name         17
bus_type               18
departing_time         17
duration               17
reaching_time          17
star_rating             0
price                  17
seat_availability    3143
dtype: int64

In [11]:
df = df.dropna()

In [12]:
df

,bus_route_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seat_availability
Unnamed: 0,,,,,,,,
0,FRESHBUS,Electric A/C Seater (2+2),22:10,07h 30m,05:40,2,Starts from\nINR 600 500,35 Seats available
3,AdIntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:50,06h 10m,06:00,2,Starts from\nINR 559,37 Seats available
4,FRESHBUS,Electric A/C Seater (2+2),23:05,07h 10m,06:15,2,Starts from\nINR 448 348,35 Seats available
7,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),23:00,05h 35m,04:35,3,Starts from\nINR 399,32 Seats available
8,NueGo,Electric A/C Seater (2+2),22:30,07h 30m,06:00,1,Starts from\nINR 403,31 Seats available
...,...,...,...,...,...,...,...,...
443,Royal Cruiser,Scania Multi-Axle AC Semi Sleeper (2+2),17:35,13h 00m,06:35,5,INR 1200 1110,5 Seats available
444,Annesha Travels,NON A/C Seater / Sleeper (2+2),18:00,13h 00m,07:00,3,Starts from\nINR 500,32 Seats available
445,Maa Durga Bus Service,NON A/C Seater / Sleeper (2+2),18:00,14h 00m,08:00,3,Starts from\nINR 600,7 Seats available
446,Lokenath (Maa Tara),NON A/C Seater / Sleeper (2+2),15:15,14h 30m,05:45,2,INR 600 540,5 Seats available
447,Aradhana Bus Service,NON A/C Seater / Sleeper (2+2),14:45,15h 45m,06:30,1,INR 700,28 Seats available

In [13]:
for i ,row in df.iloc[0:100].iterrows():
    print(tuple(row))

    sql = "INSERT INTO redbus.databases(bus_route_name, bus_type, departing_time, duration,reaching_time, star_rating, price, seat_availability)VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
    
    df_ = tuple(row)
    mycursor.execute(sql,df_)

mydb.commit()

('FRESHBUS', 'Electric A/C Seater (2+2)', '22:10', '07h 30m', '05:40', 2, 'Starts from\nINR 600 500', '35 Seats available')
('AdIntrCity SmartBus', 'Bharat Benz A/C Seater /Sleeper (2+1)', '23:50', '06h 10m', '06:00', 2, 'Starts from\nINR 559', '37 Seats available')
('FRESHBUS', 'Electric A/C Seater (2+2)', '23:05', '07h 10m', '06:15', 2, 'Starts from\nINR 448 348', '35 Seats available')
('AdSai RK Travels', 'Non A/C Seater / Sleeper (2+1)', '23:00', '05h 35m', '04:35', 3, 'Starts from\nINR 399', '32 Seats available')
('NueGo', 'Electric A/C Seater (2+2)', '22:30', '07h 30m', '06:00', 1, 'Starts from\nINR 403', '31 Seats available')
('IntrCity SmartBus', 'AC Sleeper (2+1)', '23:30', '07h 15m', '06:45', 3, 'Starts from\nINR 839', '22 Seats available')
('FRESHBUS', 'Electric A/C Seater (2+2)', '23:35', '07h 30m', '07:05', 3, 'Starts from\nINR 600 500', '36 Seats available')
('NueGo', 'Electric A/C Seater (2+2)', '22:35', '06h 40m', '05:15', 5, 'Starts from\nINR 403', '28 Seats available')
('IntrCity SmartBus', 'A/C Seater / Sleeper (2+1)', '23:05', '06h 25m', '05:30', 5, 'Starts from\nINR 349', '39 Seats available')
('IntrCity SmartBus', 'A/C Seater / Sleeper (2+1)', '23:05', '06h 55m', '06:00', 3, 'Starts from\nINR 379', '40 Seats available')
('Sri KVR Travels', 'A/C Sleeper (2+1)', '23:35', '05h 40m', '05:15', 3, 'Starts from\nINR 599', '25 Seats available')
('Svkdt travels', 'A/C Sleeper (2+1)', '23:35', '06h 15m', '05:50', 3, 'Starts from\nINR 499', '26 Seats available')
('IntrCity SmartBus', 'AC Sleeper (2+1)', '23:25', '06h 40m', '06:05', 2, 'Starts from\nINR 679', '26 Seats available')
('IntrCity SmartBus', 'Scania AC Multi Axle Sleeper (2+1)', '23:59', '06h 31m', '06:30', 3, 'Starts from\nINR 699', '33 Seats available')
('Zingbus Plus', 'A/C Seater / Sleeper (2+1)', '23:03', '06h 27m', '05:30', 4, 'Starts from\nINR 428 375', '32 Seats available')
('Sri Sanvi Tours and Travels', 'A/C Sleeper (2+1)', '23:12', '05h 41m', '04:53', 3, 'Starts from\nINR 799 719', '29 Seats available')
('NueGo', 'Electric A/C Seater/Sleeper (2+1)', '23:00', '07h 00m', '06:00', 1, 'Starts from\nINR 403', '32 Seats available')
('FRESHBUS', 'Electric A/C Seater (2+2)', '23:15', '07h 15m', '06:30', 4, 'Starts from\nINR 600 500', '39 Seats available')
('NueGo', 'Electric A/C Seater (2+2)', '21:30', '06h 50m', '04:20', 3, 'Starts from\nINR 403', '32 Seats available')
('NueGo', 'Electric A/C Seater (2+2)', '22:30', '07h 05m', '05:35', 2, 'Starts from\nINR 403', '34 Seats available')
('Yolo Bus', 'A/C Sleeper (2+1)', '23:26', '06h 38m', '06:04', 4, 'Starts from\nINR 600', '23 Seats available')
('NueGo', 'Electric A/C Seater/Sleeper (2+1)', '22:00', '07h 10m', '05:10', 2, 'Starts from\nINR 403', '32 Seats available')
('IntrCity SmartBus', 'A/C Seater / Sleeper (2+1)', '23:45', '06h 20m', '06:05', 3, 'Starts from\nINR 369', '34 Seats available')
('NueGo', 'Electric A/C Seater (2+2)', '23:50', '06h 40m', '06:30', 2, 'Starts from\nINR 403', '35 Seats available')
('Yolo Bus', 'A/C Seater / Sleeper (2+1)', '22:46', '06h 38m', '05:24', 3, 'Starts from\nINR 450', '26 Seats available')
('IntrCity SmartBus', 'A/C Seater / Sleeper (2+1)', '00:15', '06h 10m', '06:25', 2, 'INR 5000', '38 Seats available')
('Zingbus Plus', 'A/C Seater / Sleeper (2+1)', '23:38', '06h 27m', '06:05', 4, 'Starts from\nINR 456 399', '30 Seats available')
('FRESHBUS', 'Electric A/C Seater (2+2)', '16:10', '08h 05m', '00:15', 1, 'Starts from\nINR 600 500', '39 Seats available')
('IntrCity SmartBus', 'AC Sleeper (2+1)', '23:45', '06h 40m', '06:25', 3, 'Starts from\nINR 589', '32 Seats available')
('Sri Durga Malleswari Travels', 'A/C Sleeper (2+1)', '23:10', '06h 15m', '05:25', 1, 'Starts from\nINR 750 713', '23 Seats available')
('Tirumala Xpress', 'A/C Sleeper (2+1)', '23:00', '06h 50m', '05:50', 4, 'Starts from\nINR 666 599', '32 Seats available')
('NueGo', 'Electric A/C Seater (2+2)', '23:15', '07h 20m', '06:35', 3, 'Starts from\nINR 483', '35 Seats available')
('Svkdt travels', 'A/C Seater / Sleeper (2+1)', '23:35', '05h 55m', '05:30', 3, 'Starts from\nINR 449', '26 Seats available')
('Sri Durga Malleswari Travels', 'A/C Sleeper (2+1)', '23:10', '05h 25m', '04:35', 1, 'Starts from\nINR 700 630', '24 Seats available')
('IntrCity SmartBus', 'AC Sleeper (2+1)', '22:45', '07h 05m', '05:50', 5, 'Starts from\nINR 689', '28 Seats available')
('Svkdt travels', 'A/C Sleeper (2+1)', '23:35', '06h 15m', '05:50', 4, 'Starts from\nINR 499', '24 Seats available')
('NueGo', 'Electric A/C Seater (2+2)', '22:00', '07h 20m', '05:20', 3, 'Starts from\nINR 483', '23 Seats available')
('Zingbus Plus', 'A/C Sleeper (2+1)', '18:30', '05h 40m', '00:10', 3, 'Starts from\nINR 766 670', '26 Seats available')
('Sri KVR Travels', 'Non A/C Seater / Sleeper (2+1)', '23:13', '05h 07m', '04:20', 2, 'Starts from\nINR 440', '33 Seats available')
('Sri Durga Malleswari Travels', 'A/C Seater / Sleeper (2+1)', '21:00', '07h 40m', '04:40', 3, 'Starts from\nINR 500 475', '25 Seats available')
('LVR Travels', 'Non A/C Seater / Sleeper (2+1)', '23:37', '06h 08m', '05:45', 1, 'Starts from\nINR 489 440', '23 Seats available')
('Go Tour Travels and Holidays', 'A/C Seater / Sleeper (2+1)', '22:48', '05h 27m', '04:15', 3, 'Starts from\nINR 590', '28 Seats available')
('V Kaveri Travels', 'A/C Seater / Sleeper (2+1)', '23:00', '05h 15m', '04:15', 4, 'Starts from\nINR 560', '14 Seats available')
('Orange Tours And Travels', 'NON A/C Seater/ Sleeper (2+1)', '23:00', '06h 30m', '05:30', 2, 'Starts from\nINR 500', '39 Seats available')
('Orange Tours And Travels', 'A/C Sleeper (2+1)', '22:25', '06h 20m', '04:45', 2, 'Starts from\nINR 800', '34 Seats available')
('Sri KVR Travels', 'A/C Sleeper (2+1)', '23:01', '06h 30m', '05:31', 3, 'Starts from\nINR 699', '28 Seats available')
('LVP Travels', 'A/C Seater / Sleeper (2+1)', '22:19', '06h 26m', '04:45', 5, 'Starts from\nINR 480 432', '25 Seats available')
('BSR Tours And Travels', 'VE A/C Sleeper (2+1)', '22:00', '06h 10m', '04:10', 5, 'Starts from\nINR 880', '19 Seats available')
('Morning Star Travels', 'A/C Sleeper (2+1)', '23:05', '06h 15m', '05:20', 3, 'Starts from\nINR 590', '23 Seats available')
('Sri Venkata Padmavathi Travels', 'Non A/C Seater / Sleeper (2+1)', '22:42', '07h 18m', '06:00', 3, 'Starts from\nINR 490', '41 Seats available')
('IntrCity SmartBus', 'A/C Seater / Sleeper (2+1)', '19:05', '07h 55m', '03:00', 3, 'Starts from\nINR 669', '28 Seats available')
('IntrCity SmartBus', 'AC Sleeper (2+1)', '20:30', '07h 00m', '03:30', 3, 'Starts from\nINR 1039', '22 Seats available')
('Orange Tours And Travels', 'Bharat Benz A/C Sleeper (2+1)', '22:55', '06h 50m', '05:45', 3, 'Starts from\nINR 800', '28 Seats available')
('Tirumala Travels', 'A/C Sleeper (2+1)', '22:08', '06h 22m', '04:30', 1, 'Starts from\nINR 639 575', '24 Seats available')
('Holidays Tours and Travels', 'A/C Seater / Sleeper (2+1)', '22:30', '05h 54m', '04:24', 3, 'Starts from\nINR 555', '34 Seats available')
('Orange Tours And Travels', 'NON A/C Seater/ Sleeper (2+1)', '22:15', '06h 10m', '04:25', 2, 'Starts from\nINR 400', '30 Seats available')
('Kaveri Travels', 'Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1)', '22:18', '05h 47m', '04:05', 4, 'Starts from\nINR 749', '26 Seats available')
('Mythri Tours And Travels', 'A/C Sleeper (2+1)', '19:15', '07h 13m', '02:28', 3, 'Starts from\nINR 809', '16 Seats available')
('Go Bus Travels', 'Non A/C Seater / Sleeper (2+1)', '22:47', '05h 28m', '04:15', 4, 'Starts from\nINR 500 450', '18 Seats available')
('V Kaveri Travels', 'A/C Seater / Sleeper (2+1)', '23:00', '06h 10m', '05:10', 3, 'Starts from\nINR 560', '22 Seats available')
('Orange Tours And Travels', 'Bharat Benz A/C Sleeper (2+1)', '22:55', '06h 50m', '05:45', 2, 'Starts from\nINR 800', '24 Seats available')
('Sai Srinivasa Travels', 'Non A/C Seater / Sleeper (2+1)', '23:00', '05h 50m', '04:50', 2, 'Starts from\nINR 510', '31 Seats available')
('Zingbus Plus', 'A/C Sleeper (2+1)', '20:05', '04h 40m', '00:45', 3, 'Starts from\nINR 884 774', '25 Seats available')
('IntrCity SmartBus', 'VE A/C Seater / Sleeper (2+1)', '18:45', '07h 25m', '02:10', 5, 'Starts from\nINR 559', '40 Seats available')
('Yolo Bus', 'A/C Seater / Sleeper (2+1)', '22:59', '06h 20m', '05:19', 3, 'Starts from\nINR 620', '33 Seats available')
('IntrCity SmartBus', 'A/C Seater / Sleeper (2+1)', '20:40', '07h 55m', '04:35', 4, 'Starts from\nINR 649', '39 Seats available')
('Orange Tours And Travels', 'Bharat Benz A/C Sleeper (2+1)', '22:55', '06h 20m', '05:15', 1, 'Starts from\nINR 800', '29 Seats available')
('Orange Tours And Travels', 'NON A/C Sleeper (2+1)', '22:55', '06h 50m', '05:45', 2, 'INR 700', '23 Seats available')
('Sai RK Travels', 'Non A/C Seater / Sleeper (2+1)', '22:50', '05h 20m', '04:10', 4, 'Starts from\nINR 560', '27 Seats available')
('Royal Varma Travels', 'A/C Sleeper (2+1)', '22:37', '06h 08m', '04:45', 3, 'INR 800', '30 Seats available')
('Sitara Travels', 'NON A/C Push Back (2+2)', '22:40', '05h 20m', '04:00', 3, 'Starts from\nINR 499', '29 Seats available')
('Kaveri Travels', 'Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1)', '22:18', '06h 17m', '04:35', 3, 'Starts from\nINR 629', '30 Seats available')
('Go Tour Travels and Holidays', 'A/C Sleeper (2+1)', '22:48', '05h 27m', '04:15', 4, 'Starts from\nINR 990', '18 Seats available')
('Orange Tours And Travels', 'NON A/C Seater/ Sleeper (2+1)', '23:00', '06h 30m', '05:30', 3, 'Starts from\nINR 400', '37 Seats available')
('Sri Sai Srinivasa Travels', 'Non A/C Seater / Sleeper (2+1)', '22:10', '06h 20m', '04:30', 3, 'Starts from\nINR 500', '36 Seats available')
('Yolo Bus', 'Bharat Benz A/C Seater /Sleeper (2+1)', '23:20', '05h 49m', '05:09', 3, 'Starts from\nINR 450', '37 Seats available')
('LVR Travels', 'Non A/C Seater / Sleeper (2+1)', '20:15', '08h 40m', '04:55', 2, 'Starts from\nINR 449', '32 Seats available')
('V Kaveri Travels', 'Non A/C Seater / Sleeper (2+1)', '22:22', '06h 08m', '04:30', 1, 'Starts from\nINR 600', '22 Seats available')
('V Kaveri Travels', 'A/C Sleeper (2+1)', '22:20', '06h 10m', '04:30', 4, 'Starts from\nINR 890', '22 Seats available')
('Sri Sai Anjana Tours and Travels', 'Non A/C Seater / Sleeper (2+1)', '22:20', '06h 05m', '04:25', 3, 'Starts from\nINR 399', '30 Seats available')
('LG BUS', 'A/C Seater / Sleeper (2+1)', '21:15', '06h 55m', '04:10', 2, 'Starts from\nINR 580', '32 Seats available')
('LG BUS', 'A/C Sleeper (2+1)', '21:15', '06h 50m', '04:05', 3, 'Starts from\nINR 750', '35 Seats available')
('SUNRISE TOUR AND TRAVELS', 'Non A/C Seater / Sleeper (2+1)', '21:00', '07h 20m', '04:20', 3, 'Starts from\nINR 560 504', '34 Seats available')
('NAVADISHA TRAVELS', 'A/C Seater / Sleeper (2+1)', '22:00', '06h 00m', '04:00', 2, 'Starts from\nINR 600', '32 Seats available')
('Kakathiya Travels', 'NON A/C Sleeper (2+1)', '22:30', '06h 00m', '04:30', 3, 'Starts from\nINR 590', '23 Seats available')
('Kakathiya Travels', 'NON AC Seater / Sleeper 2+1', '22:30', '06h 00m', '04:30', 3, 'Starts from\nINR 560', '20 Seats available')
('VLR Tours and Travels', 'Volvo Multi-Axle A/C Sleeper (2+1)', '22:00', '02h 30m', '00:30', 3, 'Starts from\nINR 2000', '36 Seats available')
('VLR Tours and Travels', 'Volvo Multi-Axle A/C Sleeper (2+1)', '22:00', '02h 30m', '00:30', 3, 'Starts from\nINR 2000', '36 Seats available')
('VLR Tours and Travels', 'Volvo Multi-Axle A/C Sleeper (2+1)', '22:00', '02h 30m', '00:30', 2, 'Starts from\nINR 2000', '36 Seats available')
('SAI SIMHAPURI TRAVELS', 'A/C Seater (2+2)', '23:30', '05h 50m', '05:20', 5, 'INR 2000', '40 Seats available')
('SAMANVI CITICONNECT', 'Non A/C Seater / Sleeper (2+1)', '19:10', '07h 20m', '02:30', 4, 'Starts from\nINR 459', '26 Seats available')
('Orange Tours And Travels', 'NON A/C Seater/ Sleeper (2+1)', '19:45', '08h 10m', '03:55', 2, 'Starts from\nINR 400', '37 Seats available')
('Anjani Bus', 'A/C Seater / Sleeper (2+1)', '22:40', '06h 00m', '04:40', 3, 'Starts from\nINR 399', '34 Seats available')
('IntrCity SmartBus', 'AC Sleeper (2+1)', '17:15', '07h 05m', '00:20', 1, 'Starts from\nINR 889', '27 Seats available')
('Mayuri Travels', 'A/C Sleeper (2+1)', '22:00', '05h 30m', '03:30', 3, 'Starts from\nINR 890', '27 Seats available')
('BSR Tours And Travels', 'A/C Seater / Sleeper (2+1)', '19:10', '07h 20m', '02:30', 2, 'Starts from\nINR 680', '11 Seats available')
('Yolo Bus', 'Bharat Benz A/C Sleeper (2+1)', '19:40', '06h 49m', '02:29', 3, 'Starts from\nINR 850', '21 Seats available')
('Orange Tours And Travels', 'NON A/C Seater/ Sleeper (2+1)', '22:30', '06h 45m', '05:15', 2, 'Starts from\nINR 510', '39 Seats available')
('V Kaveri Travels', 'Non A/C Seater / Sleeper (2+1)', '22:25', '06h 05m', '04:30', 2, 'Starts from\nINR 600', '9 Seats available')
('PRK Travels', 'Non A/C Seater / Sleeper (2+1)', '22:13', '07h 12m', '05:25', 3, 'Starts from\nINR 489 440', '32 Seats available')